<!DOCTYPE html>
<html>
<head>
    <title>Conversor de Temperatura</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <form method="POST">
        <h1>Conversor de Temperatura</h1>
        <input type="number" name="temperature" step="0.01" required value="{% if request.method == 'POST' %}{{ request.form['temperature'] }}{% endif %}">
        <select name="unit_from" required>
            <option value="Fahrenheit" {% if request.method == 'POST' and request.form['unit_from'] == 'Fahrenheit' %} selected {% endif %}>Fahrenheit</option>
            <option value="Celsius" {% if request.method == 'POST' and request.form['unit_from'] == 'Celsius' %} selected {% endif %}>Celsius</option>
        </select>
        a
        <select name="unit_to" required>
            <option value="Fahrenheit" {% if request.method == 'POST' and request.form['unit_to'] == 'Fahrenheit' %} selected {% endif %}>Fahrenheit</option>
            <option value="Celsius" {% if request.method == 'POST' and request.form['unit_to'] == 'Celsius' %} selected {% endif %}>Celsius</option>
        </select>
        <button type="submit">Convertir</button>
        {% if error %}
            <p style="color: red;">{{ Error }}</p>
        {% endif %}
        {% if result %}
            <p><b>Resultado</b>: {{ result }} {{ request.form['unit_to'] }}</p>
        {% endif %}
    </form>
    
    
</body>
</html>
